@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

ul.unit li {
  width: 20% !important;
}

ul.cart-header li, ul.cart-header1 li, ul.cart-header2 li {
  width: 20% !important;  
}

.fix-image_size {
  padding-left: 0px !important;
  img {
    width: 150px !important;
  }
}
.fix-size-nav-bar {
  top: 20px !important;
  padding-left: 30px !important;
}